<div class="container">
    <div class="row justify-content-center">
      <div class="col">
        <page-title></page-title>
      </div>
    </div>
    <hr>
    <div class="row justify-content-center">
      <div class="col-3">
        <movie-list></movie-list>
      </div>
      <div class="col-3">
        <chores-list></chores-list>
      </div>
      <div class="col-3">
        <fav-links></fav-links>
      </div>
    </div>
    <hr>
    <div>
      <fav-photos></fav-photos>
    </div>
  </div>
  <hr>